<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{css/main.css}">
    <!-- <link rel="stylesheet" th:href="@{css/spectre.css}"> -->
    <title>CRUD - Alunos de Logística</title>
</head>
<body>


<table class="table table-striped table-primary">
    <thead class="ttop">

    <tr class="table-info">
        <td><b>ID</b></td>
        <td><b>NOME</b></td>
        <td><b>SEXO</b></td>
        <td><b>CURSO</b></td>
        <td><b>NOTA</b></td>
        <td><b>IDADE</b></td>
        <td></td>
        <td></td>
    </tr>

    </thead>
    <tbody>

    <tr th:each="aluno : ${allDeLOGLista}">

        <td th:text="${aluno.id}"></td>
        <td th:text="${aluno.nome}"></td>
        <td th:text="${aluno.sexo}"></td>

        <td th:switch="${aluno.codigoCurso}">
            <span th:case="'1'" th:text="'ADS'"></span>
            <span th:case="'2'" th:text="'GE'"></span>
            <span th:case="'3'" th:text="'GP'"></span>
            <span th:case="'4'" th:text="'LOG'"></span>
            <span th:case="'5'" th:text="'SI'"></span>
        </td>

        <td th:text="${aluno.nota}"></td>
        <td th:text="${aluno.idade}"></td>
        <td>
            <a th:href="@{'atualizar/' + ${aluno.id}}">
                <button class="btns_editar">editar</button>
            </a>
        </td>
        <td>
            <form th:action="@{'apagar/' + ${aluno.id}}" method=post>
                <button type="submit" class="btns_apagar">
                    apagar
                </button>
            </form>
        </td>

    </tr>

    </tbody>
</table>


</body>
</html>