<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{css/main.css}">
    <link rel="stylesheet" th:href="@{css/spectre.css}">
    <title>Criar Aluno</title>
</head>
    <body>

        <header>

            <nav class="menu-principal">
                <div class="links">
                    <ul>
                        <li><a href="#">Atualizar</a></li>
                        <li><a href="#">Alunos Reprovados</a></li>
                        <li><a href="#">Homens</a></li>
                        <li><a href="#">Mulheres</a></li>
                        <li><a href="#">Alunos de SI</a></li>
                        <li><a href="#">Alunos de ADS</a></li>
                        <li><a href="#">Alunos de LOG</a></li>
                    </ul>
                </div>
            </nav>

        </header>


        <main>

            <!--
                th:action="@{/alunocadastrado}"
                th:object="${aluno}"
            -->
            <form class="box"
                  action="#"

                  method="post">


                <h3>Crie um novo aluno</h3>
                <p id="aviso_p_validacao">Aviso para validação!</p>
                <p>
                    Bem vindo. Primeiro, crie um novo aluno para prosseguir com
                    as manipulações CRUD.
                </p>


                <div class="inputs">

                    <!--
                        th:field="*{nome}"
                    -->

                    <label for="nm_aluno">Digite o nome do aluno</label>
                    <input

                            type="text"
                            id="nm_aluno"
                            placeholder="insira o nome do aluno"
                            required>


                    <label for="sexo_aluno">Selecione o sexo do aluno:</label>
                    <div class="form-group">

                        <!--
                            th:field="*{sexo}"
                        -->

                        <select

                                id="sexo_aluno"
                                class="form-select"
                                required>

                            <option value="">Selecione o sexo</option>
                            <option th:value="${M}">Masculino</option>
                            <option th:value="${F}">Feminino</option>
                        </select>
                    </div>


                    <label for="curso_aluno">Selecione o curso do aluno:</label>
                    <div class="form-group">

                        <!--
                            th:field="*{codigoCurso}"
                        -->

                        <select

                                id="curso_aluno"
                                class="form-select"
                                required>
                            <option th:disabled="">Selecione o curso</option>
                            <option th:value="${ADS}">ADS</option>
                            <option th:value="${GE}">GE</option>
                            <option th:value="${GP}">GP</option>
                            <option th:value="${LOG}">LOG</option>
                            <option th:value="${SI}">SI</option>
                        </select>
                    </div>


                    <!--
                        th:field="*{nota}"
                    -->

                    <label for="media_aluno">Digite a nota média final do aluno</label>
                    <input

                            type="text"
                            id="media_aluno"
                            name="aluno"
                            placeholder="Exemplo de média: 7.5"
                            required>

                    <label for="idade_aluno">Selecione a idade do aluno:</label>
                    <div class="form-group">

                        <!--
                            th:field="*{idade}"
                        -->

                        <select

                                id="idade_aluno"
                                class="form-select"
                                required>

                            <option value="">Selecione a idade do aluno</option>

                            <option th:each="age : ${#numbers.sequence(16,120)}"
                                    th:value="${age}" th:text="${age}">
                            </option>

                        </select>
                    </div>

                    <button type="submit" id="btnCriar" class="btn">Criar Aluno</button>

                </div>
            </form>

        </main>


    </body>
</html>