<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{css/main.css}">
    <link rel="stylesheet" th:href="@{css/spectre.css}">
    <title>Criar Aluno</title>
</head>
    <body>

        <header>

            <nav class="menu-principal">
                <div class="links">
                    <ul>
                        <li><a href="atualizarAluno.html">Atualizar</a></li>
                        <li><a href="verAlunosReprovados.html">Alunos Reprovados</a></li>
                        <li><a href="verAlunosHomens.html">Homens</a></li>
                        <li><a href="verAlunasMulheres.html">Mulheres</a></li>
                        <li><a href="alunosDeSi.html">Alunos de SI</a></li>
                        <li><a href="alunosDeAds.html">Alunos de ADS</a></li>
                        <li><a href="alunosDeLog.html">Alunos de LOG</a></li>
                    </ul>
                </div>
            </nav>

        </header>


        <main>

            <form class="box"
                  action="#"
                  th:action="@{/todosOsAlunos}"
                  th:object="${novo_aluno}"
                  method="post">

                <!--
                <h3>Crie um novo aluno</h3>

                <p id="aviso_p_validacao">Aviso para validação!</p>

                <p>
                    Bem vindo. Primeiro, crie um novo aluno para prosseguir com
                    as manipulações CRUD.
                </p>

                <div class="inputs">

                    <label for="nm_aluno">Digite o nome do aluno</label>
                    <input
                            type="text"
                            id="nm_aluno"
                            placeholder="insira o nome do aluno"
                            required
                            th:field="*{nm_aluno}">


                    <label for="sexo_aluno">Selecione o sexo do aluno:</label>
                    <div class="form-group">
                        <select
                                id="sexo_aluno"
                                class="form-select"
                                required
                                th:field="*{sg_sexoaluno}">

                            <option value="">Selecione o sexo</option>
                            <option>Masculino</option>
                            <option>Feminino</option>
                        </select>
                    </div>


                    <label for="idade_aluno">Selecione a idade do aluno:</label>
                    <div class="form-group">
                        <select
                                id="idade_aluno"
                                class="form-select"
                                required
                                th:field="*{qt_idade}">


                            <option value="">Selecione a idade do aluno</option>

                            <option th:each="idade : ${#numbers.sequence(16,120)}"
                                    th:value="${idade}" th:text="${idade}">
                            </option>

                        </select>
                    </div>


                    <label for="curso_aluno">Selecione o curso do aluno:</label>
                    <div class="form-group">
                        <select
                                id="curso_aluno"
                                class="form-select"
                                required
                                th:field="*{cd_curso}">
                            <option value="">Selecione o curso</option>
                            <option>ADS</option>
                            <option>GE</option>
                            <option>GP</option>
                            <option>LOG</option>
                            <option>SI</option>
                        </select>
                    </div>

                    <label for="media_aluno">Digite a nota média final do aluno</label>
                    <input
                            type="text"
                            id="media_aluno"
                            name="aluno"
                            placeholder="Exemplo de média: 7.5"
                            required
                            th:field="*{qt_notaaluno}">

                            -->

                    <button id="btnCriar" class="btn">Criar Aluno</button>
                </div>

            </form>

        </main>


    </body>
</html>