<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{css/main.css}">
    <link rel="stylesheet" th:href="@{css/spectre.css}">
    <title>Criar Aluno</title>
</head>
    <body>

        <header>

            <nav class="menu-principal">
                <div class="links">
                    <ul>
                        <li><a href="atualizarAluno.html">Atualizar</a></li>
                        <li><a href="verAlunosReprovados.html">Alunos Reprovados</a></li>
                        <li><a href="verAlunosHomens.html">Homens</a></li>
                        <li><a href="verAlunasMulheres.html">Mulheres</a></li>
                        <li><a href="alunosDeSi.html">Alunos de SI</a></li>
                        <li><a href="alunosDeAds.html">Alunos de ADS</a></li>
                        <li><a href="alunosDeLog.html">Alunos de LOG</a></li>
                    </ul>
                </div>
            </nav>

        </header>


            <main>

                <h2 th:text="'Aluno inserido:' + ${aluno.nome}"></h2>

            </main>


    </body>
</html>